.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 70px;
    background-color: #0a1f44;
    color: white;
  }
  
  .logo {
    width: auto;
    height: 100%;
    border-radius: 35px;
  }
  
  /* Menu */
  .nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }

  .home {
    padding: 80px 40px;
    text-align: center;
    color: crimson;
  }
  